body{
    background-color: mistyrose;
}

a:link{

    color: rgb(255, 0, 0);
    text-align: center;

}


#Jus{
    height: 300px;
    margin: 0 auto;
    display: block;
    width: 900px;
}

#Header{
    background-image: white;
    text-align: center;
    
}

.Second h1{
    text-align: center;
    font-family: "Sofia", sans-serif;
    color: red;
}
.Second h2{
    text-align: center;
    font-family: "Audiowide", sans-serif;
    color: rgb(255, 153, 0);
}

.third h4{
    text-align: center;
    font-size: 20px;
}
.third p{
    text-align: center;
    text-justify: auto;
    font-size: 20px;
}

.center{
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
    border: 2px solid mediumvioletred ;
    
}

.fourth h3{
    text-align: center;
    font-size: 20px;
}
.fourth p{
    text-align: center;
    text-justify: auto;
    font-size: 20px;
}

.video1{
    text-align: center;
}

.lime h1{
    text-align: center;
    font-family: "Sofia", sans-serif;
    color: red;
}
.lime h2{
    text-align: center;
    font-family: "Audiowide", sans-serif;
    color: rgb(255, 153, 0);
}
.lime h3{
    text-align: center;
}

.review{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid mediumvioletred ;
}

.sunquick{
    text-align: center;
    font-size: 20px;
}
.sunquick h5{
    color: orangered;
}
.video2{
    text-align: center;
}
.ceri h1{
    text-align: center;
    font-family: "Sofia", sans-serif;
    color: red;
}
.ceri h3{
    text-align: center;
    color: mediumslateblue;
    font-size: 22px;
}

.img1{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid mediumvioletred ;
}

.grape p{
    text-align: center;
    color: rgb(38, 0, 255);
}

.img2{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid mediumvioletred ;
}

.apple p{
    text-align: center;
    font-size: 24px;
    text-justify: auto;
}
.apple h2{
    text-align: center;
    color: mediumslateblue;
}
